.App {
  padding: 2rem;
  color: #8B6240;
}

.animal-svg {
  max-width: 20%;
}
.animal-float-right {
  float: right;
  shape-outside: circle(50%);
}

.absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}